@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    background-color: #0A121A;
}

p{
    color:#9FA3B5;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

li a {
    text-decoration: none;
}

.navbar{
    font-size: 20px;
}

.navItem{
    color:#9FA3B5;
    display: block;
    float:left;
    margin:10px;
    padding:5px;
}

.navItem:hover{
    color:#6C80AC
}

.navActive{
    border-radius: 5px;
    border: 1px solid #6C80AC ;
    padding:5px;
}

.noCircle{
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
}

.heading{
    color:#2F55B8;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}


.selfie{
    border-radius: 25px;
    border: 10px solid #6C80AC ;
}

.introP{
    margin-left:50px;
    text-shadow: 3px 3px #1E3B76;
}

.buttonAlertHello{
    margin-bottom:20px;
    width:300px;
    border-radius:10px;
    border:5px solid #6C80AC;
    background-color: #0A121A;
    color:#9FA3B5
}

.buttonAlertHello:hover{
    background-color:#9FA3B5;
    color:#0A121A
}

.foot{
    font-size: 12px;
    color:#6C80AC;
}